@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.valle-map {
  max-height: 450px;

  .cls-1 {
    fill: none;
  }
  .cls-2 {
    isolation: isolate;
  }
  .cls-3 {
    fill: #f07d18;
  }
  .cls-3,
  .cls-4 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }
  .cls-4,
  .cls-8 {
    fill: #dc4b00;
  }
  .cls-5 {
    fill: #3d3d3d;
  }
  .cls-6 {
    opacity: 0.55;
  }
  .cls-7 {
    fill: #fff;
  }
  .cls-9 {
    clip-path: url(#clip-path);
  }
  .cls-10,
  .cls-15 {
    fill: #ebbaa5;
  }
  .cls-11 {
    fill: #686a92;
  }
  .cls-12 {
    fill: #474b71;
  }
  .cls-13 {
    fill: #313058;
  }
  .cls-14 {
    fill: #23244b;
  }
  .cls-15 {
    opacity: 0.39;
  }
  .cls-15,
  .cls-19 {
    mix-blend-mode: multiply;
  }
  .cls-16,
  .cls-19 {
    fill: #0c0c0c;
  }
  .cls-16 {
    opacity: 0.13;
    mix-blend-mode: color-burn;
  }
  .cls-17 {
    fill: #a06653;
  }
  .cls-18 {
    fill: #352c38;
  }
  .cls-19 {
    opacity: 0.34;
  }
}
