@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.modal-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  cursor: pointer;
}

.modal {
  position: absolute;
  cursor: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 90vw;
  height: 90vh;
  padding: 5% 3% 80px 3%;
  display: flex;
  background-image: url("../../../assets/images/Fondo.png");
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0%;
    padding-right: 50px;
    width: 50%;
  }

  &__name {
    height: 120px;
  }

  &__description {
    font-size: 26px;
    font-family: $roboto-medium;
    line-height: 1.5;
    padding-top: 40px;
  }

  &__media {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__video{
    border: solid;
    border-width: 12px;
    border-color: #BC8B48;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
  }

  &__arrows {
    height: 100px;
    width: 150px;
    position: absolute;
    bottom: 3%;
    left: 3%;
    display: flex;
    align-items: center;

    &--back {
      width: 50%;
      stroke: gray;
      cursor: pointer;
    }

    &--next {
      width: 50%;
      stroke: gray;
      cursor: pointer;
    }
  }

  &__comfama {
    position: absolute;
    bottom: 3%;
    right: 3%;
  }
}
