@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.uraba-map {
  max-height: 450px;

  .cls-1 {
    fill: none;
  }
  .cls-2 {
    isolation: isolate;
  }
  .cls-3 {
    fill: #dfc570;
  }
  .cls-3,
  .cls-4 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }
  .cls-4,
  .cls-8 {
    fill: #ffce33;
  }
  .cls-5 {
    fill: #3d3d3d;
  }
  .cls-6 {
    opacity: 0.55;
  }
  .cls-22,
  .cls-7 {
    fill: #fff;
  }
  .cls-9 {
    clip-path: url(#clip-path);
  }
  .cls-10 {
    fill: #3f92a3;
  }
  .cls-11 {
    fill: #ddbd3f;
  }
  .cls-12 {
    fill: #ca9e67;
  }
  .cls-13 {
    fill: #b17f4a;
  }
  .cls-14 {
    fill: #901c1c;
    opacity: 0.1;
  }
  .cls-15 {
    fill: #575756;
  }
  .cls-16 {
    fill: #eddfb4;
  }
  .cls-17 {
    fill: #c3bdab;
  }
  .cls-18 {
    fill: #dadada;
  }
  .cls-19 {
    fill: #99b0ad;
  }
  .cls-20 {
    fill: #e6dfca;
  }
  .cls-21 {
    fill: #0593a1;
  }
  .cls-22 {
    opacity: 0.8;
  }
  .cls-23 {
    fill: #df4937;
  }
  .cls-24 {
    fill: #f89f26;
  }
  .cls-25 {
    clip-path: url(#clip-path-2);
  }
  .cls-26 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_2);
  }
  .cls-27 {
    fill: #485919;
  }
  .cls-28 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_54);
  }
  .cls-29,
  .cls-31 {
    fill: #68004f;
  }
  .cls-29 {
    opacity: 0.21;
  }
  .cls-29,
  .cls-31,
  .cls-38,
  .cls-40 {
    mix-blend-mode: multiply;
  }
  .cls-30 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_7);
  }
  .cls-31 {
    opacity: 0.3;
  }
  .cls-32 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_32);
  }
  .cls-33 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_32-2);
  }
  .cls-34 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_32-3);
  }
  .cls-35 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_32-4);
  }
  .cls-36 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_7-2);
  }
  .cls-37 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_7-3);
  }
  .cls-38 {
    fill: #6b7f22;
    opacity: 0.37;
  }
  .cls-39 {
    fill: #ffd58a;
  }
  .cls-40 {
    fill: #894374;
    opacity: 0.35;
  }
  .cls-41 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_54-2);
  }
  .cls-42 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_7-4);
  }
  .cls-43 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_32-5);
  }
  .cls-44 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_32-6);
  }
  .cls-45 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_32-7);
  }
  .cls-46 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_32-8);
  }
  .cls-47 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_7-5);
  }
  .cls-48 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_7-6);
  }
  .cls-49 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_12);
  }
}
