.occidente-map {
  max-height: 450px;

  .cls-1,
  .cls-4 {
    fill: none;
  }
  .cls-2 {
    isolation: isolate;
  }
  .cls-3,
  .cls-5 {
    fill: #f2cf63;
  }
  .cls-4,
  .cls-5,
  .cls-6 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }
  .cls-10,
  .cls-6 {
    fill: #e6a144;
  }
  .cls-7 {
    fill: #594f2d;
  }
  .cls-34,
  .cls-8 {
    opacity: 0.55;
  }
  .cls-9 {
    fill: #fff;
  }
  .cls-11 {
    clip-path: url(#clip-path);
  }
  .cls-12 {
    fill: #d89c79;
  }
  .cls-13 {
    fill: #cb9271;
  }
  .cls-14 {
    fill: #268875;
  }
  .cls-15 {
    fill: #dee4ef;
  }
  .cls-16 {
    fill: #177262;
  }
  .cls-17 {
    fill: #a06653;
  }
  .cls-18 {
    fill: #413c42;
  }
  .cls-19 {
    fill: #352c38;
  }
  .cls-20 {
    clip-path: url(#clip-path-2);
  }
  .cls-21 {
    fill: #93a5aa;
  }
  .cls-22 {
    fill: #c9d6d6;
  }
  .cls-23 {
    fill: #884300;
  }
  .cls-24 {
    fill: #ba9663;
  }
  .cls-25 {
    fill: #724423;
  }
  .cls-26 {
    opacity: 0.16;
  }
  .cls-26,
  .cls-31,
  .cls-35,
  .cls-39 {
    mix-blend-mode: screen;
  }
  .cls-27 {
    fill: #975307;
  }
  .cls-28 {
    fill: #c9853c;
  }
  .cls-29 {
    fill: #714100;
  }
  .cls-30,
  .cls-31 {
    fill: #6b563b;
  }
  .cls-31,
  .cls-35 {
    opacity: 0.46;
  }
  .cls-32,
  .cls-39 {
    fill: #95714d;
  }
  .cls-33 {
    clip-path: url(#clip-path-3);
  }
  .cls-34 {
    fill: #593721;
    mix-blend-mode: multiply;
  }
  .cls-36 {
    fill: #b5aa7e;
  }
  .cls-37 {
    fill: #cc2c00;
  }
  .cls-38 {
    fill: #62482c;
  }
  .cls-39 {
    opacity: 0.15;
  }
}
