@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.oriente-map {
  max-height: 450px;

  .cls-1 {
    fill: none;
  }
  .cls-2,
  .cls-3 {
    fill: #e2e66b;
  }
  .cls-2,
  .cls-3,
  .cls-4 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .cls-2,
  .cls-4 {
    stroke-width: 1.5px;
  }
  .cls-4,
  .cls-8 {
    fill: #9ed959;
  }
  .cls-5 {
    fill: #3d3d3d;
  }
  .cls-6 {
    opacity: 0.55;
  }
  .cls-7 {
    fill: #fff;
  }
  .cls-9 {
    clip-path: url(#clip-path);
    cursor: pointer;
  }
  .cls-10 {
    fill: #272635;
  }
  .cls-11 {
    fill: #ebb19f;
  }
  .cls-12 {
    fill: #c18d7f;
  }
  .cls-13 {
    fill: #77011e;
  }
  .cls-14 {
    fill: #cc887f;
  }
  .cls-15 {
    fill: #352c38;
  }
  .cls-16 {
    fill: #5e0a1c;
  }
  .cls-17 {
    fill: #3b3c4e;
  }
  .cls-18 {
    fill: #a095ac;
  }
}
